.head {
    text-align:center;
    font-size:200%;
    color:white;
    text-decoration: underline;
}
.city {
    text-align:center;
    font-size:150%;
    color:white;
}

h1 {
    text-align:center;
    color:white;
    font-size:medium;
}
img {
    margin: auto;
  width: 50%;
  display: block;
  border:1px solid white;
}
.home{
  float: none;
  position: absolute;
  left:5%;
  top: 0%;
  transform: translate(0%, 50%);
  color: #610B0B;
  background-color:white;
  border: none;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.location {
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  color: #610B0B;
  background-color:white;
  border: none;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
    
}
.cities {
    float: none;
  position: absolute;
  left: 25%;
  transform: translate(-50%, 10%);
  color: #610B0B;
  background-color:white;
  border: none;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
    
}
.language {
    float: none;
  position: absolute;
  left: 75%;
  transform: translate(-50%, 10%);
  color: #610B0B;
  background-color:white;
  border: none;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.words {
    text-align:center;
    color:white;
    font-size:120%;
}
.prosze {
      margin: auto;
  width: 50%;
  display: block;
  border:2px solid black;
}
div {
    color:white;
    transform:translate(70%,100%);
}